@import "__normalize.sass"
@import "__transition.sass"
@import "__variables.sass"
@import "__common.sass"
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
html, body
  min-height: 100vh
  
body
  font-family: var(--main-font)
  
#app
  height: 100vh
  max-width: 500px
  margin: 0 auto